:root {
    --white: rgb(239, 239, 239);
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}

body {
    background: url(images/5084-22.jpg) center top/cover no-repeat fixed;
}

h1 {
    margin-top: 35px;
    font-size: 4rem;
    text-align: center;
}

h3 {
    margin-top: 20px;
    font-size: 1.4rem;
    text-align: center;
    font-style: italic;
    margin-bottom: 18px;
}

/* SKETCH GRID */
/* be careful with borders and margins */
.sketch-grid {
    margin: auto;
    display: grid;
    grid-gap:1px;
    border-radius: 1%;
    border: 1px solid rgb(0, 0, 0);
    width: 680px;
    height: 680px;
}

.grid-container {
    position: relative;
    width: 680px;
    height: 680px;
    margin: auto;
}

.nsw {
    position: fixed;
    top: -30px;
    left: -13px;
    width: 300px;

    transform: rotate(-2deg);
}

.nyc {
    position: fixed;
    top: 0;
    right: 0;
    transform: rotate(180deg);
    width: 500px;
}

.github {
    position: fixed;
    bottom: -25px;
    left: -20px;
    width: 280px;
}

.android {
    position: fixed;
    bottom: -68px;
    right: -100px;
    width: 420px;
}

/* BUTTONS */

.btns {
    margin-top: 65px;
    display: flex;
    justify-content: center;
}

.col {
    width: 50vw;
    position: relative;
}

.grid-form {
    position: absolute;
    left: -200px;
}

.grid-form fieldset {
    padding-top: 14px;
    padding-left: 13px;
    display: block;
    background: var(--white);

    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: rgb(118, 118, 118);
    width: 118px;
    height: 100px;
}

.color-form {
    position: absolute;
    left: 82px;
}

.color-form fieldset {
    padding-top: 14px;
    padding-left: 13px;
    display: block;
    background: var(--white);

    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: rgb(118, 118, 118);
    width: 118px;
    height: 100px;
}

.clear {
    position: absolute;
    right: -50px;
    width: 100px;
    height: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 1.5rem;
}

label {
    display: block;
    position: relative;
    height: 25px;
    line-height: 25px;
    font-size: 1.3rem;
}

label span {
    position: absolute;
    left: 25px;
}

input[type="radio"] {
    position: absolute;
    top: 7px;
    left: 3px;
}

/* TEMPLATES */
.template-form {
    bottom: -35px;
    position: absolute;
    right: 0;
}

.template-form fieldset {
    display: block;
    background: rgba(255, 255, 255, 0.287);

    border-width: 1px;
    border-radius: 2px;
    width: 100px;
    height: 35px;
}

.switch {
    height: 35;
    line-height: 35px;
    position: relative;
}

.switch input {
    position: absolute;
    top: 10px;
    left: 10px;

}

.switch span {
    position: absolute;
    left: 30px;
}